h1,
h2,
h3,
.display-1,
.lead {
  font-weight: bold;
}

h1 {
  text-align: center;
  animation: fadeInDown 2s;
}

p,
li {
  font-size: 1.25rem;
}

html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.btn {
  background: var(--button-color);
  background-size: 200% 100%;
  background-position: 100% 0;
  color: white;
  transition: background-position 0.5s ease-in-out;
  animation: bounceIn 2s;
}

.btn:hover {
  color: white;
  background-position: 0 0;
}

a:not(.btn, .d-block, .navbar-brand, .nav-link) {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
  animation: tada 2s;
}

a:not(.btn, .d-block, .navbar-brand, .nav-link)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.125rem;
  background-color: currentcolor;
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

img {
  transition: transform 0.3s;
  cursor: pointer;
}

img:hover {
  transform: scale(1.2);
}

table {
  cursor: pointer;
}

ol[class="breadcrumb"] {
  background-color: transparent;
}

.text-pashto {
  font-family: "Amiri", sans-serif;
  font-size: 1.25rem;
  direction: rtl;
  unicode-bidi: isolate;
}

.bg-first-color {
  background-color: var(--bg-first);
}

.bg-second-color {
  background-color: var(--bg-second);
}

.text-first-color {
  color: var(--text-first);
}

.scroll-progress {
  width: 0%;
  height: 5px;
  background: var(--scroll-progress-color);
}

:root {
  --bg-first: #31473a;
  --bg-second: #bdd5ce;
  --text-first: #31473a;
  --scroll-progress-color: linear-gradient(to right, #ff00ae, #2f00ff);
  --link-color: #6abce2;
  --button-color: linear-gradient(to right, blue, purple, blue);
}

[data-bs-theme="dark"] {
  --bg-first: #202236;
  --bg-second: #30354b;
  --text-first: #eeeeee;
  --scroll-progress-color: linear-gradient(to right, #ffc107, #4bc40e);
  --link-color: #ffb380;
  --button-color: linear-gradient(to right, #3a3d98, #6d28d9, #3a3d98);
}
